body{
  font-family: Arial;
  background:#111;
  color:white;
}

.container{
  width:300px;
  margin:100px auto;
}

form{
  display:flex;
  flex-direction:column;
  gap:10px;
}

input,button{
  padding:10px;
}

button{
  cursor:pointer;
}